!--------------------xdefauls
!URxvt.font: xft:ubuntu mono:pixelsize=13
!URxvt.font: xft:Terminus:size=13:bold
!URxvt.font: xft:Anonymous Pro:size=12
URxvt.font: xft:IBM Plex Mono:size=10
URxvt.cursorBlink: 1
urxvt*termName: rxvt
urxvt*scrollBar: false
urxvt*matcher.button: 1
urxvt.transparent: false
urxvt.boldFont:
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull
Xft*rgba: rgb
URxvt*geometry: 85x20
*internalBorder: 13
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: False

! Restore Ctrl+Shift+(c|v)
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false




!URxvt*background: #212121
!URxvt*foreground: #D2C5BC
!#D2C5BC
!black
!URxvt*color0:#777777
!URxvt*color8:#777777
!!red
!URxvt*color1:#a19488
!URxvt*color9:#a19488
!!green
!URxvt*color2:#88a194
!URxvt*color10:#88a194
!!yellow
!URxvt*color3:#95a188
!URxvt*color11:#95a188
!!blue
!URxvt*color4:#9488a1
!URxvt*color12:#9488a1
!!magenta
!URxvt*color5:#a18895
!URxvt*color13:#a18895
!!cyan
!URxvt*color6:#8895a1
!URxvt*color14:#8895a1
!!white
!URxvt*color7:#d9d9d9
!URxvt*color15:#d9d9d9




! Special
URxvt.foreground:   #E5E9F0
URxvt.background:   #2E3440
URxvt.cursorColor:  #E5E9F0

! black
*.color0:       #1c2023
*.color8:       #747c84

! red
*.color1:       #c7ae95
*.color9:       #c7ae95

! green
*.color2:       #95c7ae
*.color10:      #95c7ae

! yellow
*.color3:       #aec795
*.color11:      #aec795

! blue
*.color4:       #ae95c7
*.color12:      #ae95c7

! magenta
*.color5:       #c795ae
*.color13:      #c795ae

! cyan
*.color6:       #95aec7
*.color14:      #95aec7

! white
*.color7:       #c7ccd1
*.color15:      #f3f4f5
