configuration {
 modi: "run";
 font: "hack 9";
 combi-modi: "window,drun,ssh";
 }
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

@theme "glue_pro_blue"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
